.postponed {
  padding: 40px 80px 0;
  min-height: 300px;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #292929;
  margin-bottom: 20px;
}
